PPADFactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "PPADFactory"
		},
		"Lks_ADLS_B3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Lks_ADLS_B3'"
		},
		"Lks_b3_database_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Lks_b3_database'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Lks_ADLS_B3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Lks_ADLS_B3_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lks_b3_database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Lks_b3_database_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dts_B3_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lks_ADLS_B3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "bronze"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Date": {
							"type": "string"
						},
						"Open": {
							"type": "number"
						},
						"High": {
							"type": "number"
						},
						"Low": {
							"type": "number"
						},
						"Close": {
							"type": "number"
						},
						"Adj Close": {
							"type": "number"
						},
						"Volume": {
							"type": "number"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lks_ADLS_B3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dts_B3_Db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lks_b3_database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Data",
						"type": "date"
					},
					{
						"name": "Open",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "High",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Low",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Adj Close",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Close",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Volume",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Stock",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Historico"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lks_b3_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dts_B3_Gold')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lks_ADLS_B3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "gold"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lks_ADLS_B3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dts_B3_Silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lks_ADLS_B3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "acoes.json",
						"container": "silver"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lks_ADLS_B3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BronzeSilver",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Dts_B3_Bronze",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dts_B3_Silver",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SilverGold",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BronzeSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Dts_B3_Silver",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dts_B3_Gold",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DB_B3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SilverGold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "acoes",
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$"
										},
										"sink": {
											"name": "Data",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Dts_B3_Gold",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dts_B3_Db",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Dts_B3_Bronze')]",
				"[concat(variables('factoryId'), '/datasets/Dts_B3_Silver')]",
				"[concat(variables('factoryId'), '/datasets/Dts_B3_Gold')]",
				"[concat(variables('factoryId'), '/datasets/Dts_B3_Db')]"
			]
		}
	]
}